node_modules
.pnpm-store
dist
lib
build
.parcel-cache
.cache
packages/**/reports
packages/**/coverage
*.tgz

# internal
CHANGELOG.md
DEV.md
env.ts
Release.md
examples/playground
examples/playground-room
examples/sfu-room-for-hosting
CNAME
docs
e2e
__tests__
packages/signaling-client/examples
packages/analytics-client/examples
jest
test-*.json
