node_modules
dist
lib
build
.parcel-cache
.cache
packages/**/reports
packages/**/coverage
*.tgz

# internal
CHANGELOG.md
DEV.md
env.ts
Release.md
examples/playground
examples/playground-room
CNAME
docs
e2e
__tests__
packages/signaling-client/examples
jest
